html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 1;
    overflow: auto;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.unchecked {
    color: gray;
}

.checked {
    color: #feb038;
}

.raiting-number {
    font-size: 25px;
    font-weight: 400;
    color: white;
    line-height: 1.3;
    margin-left: .5rem;
    margin-right: 1.5rem;
    display:inline-block;
}

.raiting-number span {
    color: #9f9f9f;
    display:inline-block;
}

.lead {
    font-size: 18px !important; 
}

.home-content {
    margin-top: 75px;
    width: 95%;
    margin: auto;
    font-size: 2.5rem;
    color: #fff;
    position: relative;
}

.anime-content {
    margin-top: 75px;
    width: 95%;
    margin: auto;
    font-size: 2.5rem;
    color: #fff;
    position: relative;
}

.manga-content {
    margin-top: 75px;
    width: 95%;
    margin: auto;
    font-size: 2.5rem;
    color: #fff;
    position: relative;
}

.poster {
    padding: 13em 0;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 90vh;
    border: 0.5px solid black;
}

.poster:before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.fa-instagram:hover {
    color: transparent; background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); background-clip: text; -webkit-background-clip: text;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

.fa-facebook:hover {
    color: #4267B2;
}

.fa-github:hover {
    color: white;
    background-color: #111111;
}

.home-button:hover {
    color: white;
}
/* Home Content */

.home-hero {
  background-image: url("images/home-banner.png");
}

.home-anime {
  background-image: url("images/home-anime.jpg");
}

.home-manga {
  background-image: url("images/home-manga.png");
}

.home-meetus {
  background-image: url("images/home-meetme.jpg");
}

.home-content {
    text-align: center;
}

/* Anime Content */

.anime-original {
  background-image: url("images/home-banner.png");
}

.anime-1 {
  background-image: url("images/your-name.jpg");
}

.anime-2 {
  background-image: url("images/silent-voice.png");
}

.anime-3 {
  background-image: url("images/steins;gate.jpg");
}

.anime-4 {
    background-image: url("images/oregairu.jpg");
}

.anime-5 {
    background-image: url("images/hyouka.png");
}

.anime-6 {
    background-image: url("images/relife.jpg");
}

.anime-7 {
    background-image: url("images/toradora.jpg");
}

.anime-8 {
    background-image: url("images/bunny-girl.jpg");
}

.anime-9 {
    background-image: url("images/angel-beats.png");
}

.anime-10 {
    background-image: url("images/classroom.png");
}

/* Manga Content */

.manga-original {
  background-image: url("images/home-banner.png");
}


.manga-1 {
  background-image: url("images/demon-slayer.jpg");
}

.manga-2 {
  background-image: url("images/three-days-of-happiness.jpg");
}

.manga-3 {
  background-image: url("images/promised-neverland.jpg");
}

.manga-4 {
  background-image: url("images/chainsaw-man.jpg");
}

.manga-5 {
  background-image: url("images/jujutsu-kaisen.jpg");
}

.manga-6 {
  background-image: url("images/classroom-manga.jpg");
}

/* Footer */
footer {
    background-color: #212529;
}
p {
    line-height: 25px;
}

h2, h3 {
    color: #fff;
}

h2 {
    font-size: 18px;
}

.footer-top {
    background: #111;
    padding: 80px 0;
    
}

.segment-one h3 {
    color: #fff;
    margin: 10px 0;
}

.segment-two h2 {
    color: #fff;
}
 
.segment-two h2:before {
    content: '|';
    color: #c60539;
    padding-right: 10px;
}

.segment-two ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.segment-two ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 40px;
}

.segment-two ul li a {
    color: #999;
    text-decoration: none;
}
.segment-two ul li a:hover {
    color: white;
}

.segment-three h2 {
    color: #fff;
}

.segment-three h2:before {
    content: '|';
    color: #c60539;
    padding-right: 10px;
}

.segment-three a{
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%; 
}

.segment-three a i{
    font-size: 20px;
    color: #fff;
    padding: 10px 12px;
}

.segment-four h2{
    color: #fff;
}

.segment-four h2:before {
    content: '|';
    color: #c60539;
    padding-right: 10px;
}

.segment-four form input[type=submit] {
    background: #c65039;
    border: none;
    padding: 3px 15px;
    margin-left: -5px;
    color: #fff;
}

.footer-bottom-text {
    text-align: center;
    background: #333333;
    line-height: 50px;
    color: white;
}

.footer-text {
    color: white;
}

/* responsive */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .md-mb-30 {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 767px) {
    .sm-mb-30 {
        margin-bottom: 30px;
    }
    
    .footer-top {
        padding: 50px 0;
    }
}